@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

$sita: "Sansita Swashed";
$mont: "Montserrat";

//socials networks colors
$facebook: #0076FB;
$twitter: #1DA1F2;
$youtube: #ff0000;
$instagram: #8134AF;
$spotify: #1DB954;

$color: #864C9E;